<h3>Olá, <%= @order.customer.name %>!</h3>

<p>Seu pedido foi cadastrado e está aguardando aprovação.</p>

<h3>Detalhes do pedido:</h3>

<p>Produto: <%= @order.product.name %></p>
<p>Preço: <%= @order.product.price %></p>